# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente/nao podem subir
.env

# Controle de envios gerado automaticamente
enviados.txt
ultimo_envio.txt

# Cache Python
__pycache__/
*.pyc
*.pyo

# Sistema
.DS_Store